In [6]:
import numpy as np

In [7]:
# pip install yfinance

In [8]:
import yfinance as yf

In [9]:
msft = yf.Ticker("MSFT")

In [16]:
hist = msft.history(period="3mo")
hist.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-03-28 00:00:00-04:00,275.188445,275.537688,271.456582,274.629669,21878600,0.0,0.0
2023-03-29 00:00:00-04:00,278.351495,280.526763,277.802707,279.898132,25087000,0.0,0.0
2023-03-30 00:00:00-04:00,283.610020,283.839499,280.866018,283.430389,25053400,0.0,0.0
2023-03-31 00:00:00-04:00,283.111104,288.638997,282.382685,287.671112,32766000,0.0,0.0
2023-04-03 00:00:00-04:00,285.895012,287.641195,283.330641,286.603485,24883300,0.0,0.0

In [17]:
close = hist['Close'].to_numpy()
type(close)

numpy.ndarray

##  Convolve

In [21]:
def media_movel_convolve(valor, media):
    return np.convolve(valor, np.ones(media))/media

media_5 = media_movel_convolve(close,5)

print(media_5)
print(len(media_5))
print(len(close))

[ 54.92593384 110.9055603  167.59163818 225.1258606  282.44655762
 284.83133545 285.5956604  287.10236816 287.31989746 286.44180908
 285.70541992 286.80302124 285.71340942 285.5956665  286.70125122
 287.69109497 286.94672241 286.87088623 285.46795044 282.88360596
 284.2645813  288.00041504 292.29103394 297.03865967 303.02357178
 304.82563477 304.94138184 305.61790161 306.234552   306.55186157
 308.13040771 309.06835327 308.73308716 308.89473267 309.84066162
 310.31491089 312.13220215 314.14099121 316.61999512 317.45999756
 317.42999878 318.91000366 321.82000732 323.82600708 326.45200806
 330.19800415 332.09400024 332.7039978  333.19799805 332.19599609
 330.73200073 329.01000366 328.19200439 328.31400757 331.10600586
 335.67400513 338.78200073 340.02199707 339.87599487 340.3499939
 337.73399048 334.98799438 334.29199829 334.57600098 266.63400269
 199.63000488 133.91000366  66.9960022 ]
68
64

## Cumsum

In [22]:
# Calcula a soma acumulativa do array mantendo o array do mesmo tamanho.
def media_movel_cumsum(valor, media):
    resultado = np.cumsum(valor, dtype=float)
    resultado[media:] = resultado[media:] - resultado[:-media]
    return resultado[media-1]/media

media_12 = media_movel_convolve(close,12)

print(media_12)
print(len(media_12))
print(len(media_12))

[ 22.88580577  46.21065013  69.82984924  93.80244191 117.68606567
 141.56552887 165.20884196 189.45583598 213.51906586 237.03681946
 260.60945384 284.71010081 285.61728414 286.30661011 286.66582489
 286.67830149 286.58516947 286.46709696 286.25339762 284.9080073
 285.40525309 287.23458862 289.2111028  290.51824697 292.12057495
 293.41773987 294.83464305 296.68060557 298.55484263 300.32098134
 302.8604304  305.74495443 306.87581635 307.26080831 307.63332621
 308.39220174 309.54021708 310.75721486 312.12689718 312.56753286
 313.05697123 314.68944295 316.4612147  318.2759196  319.95041656
 321.93333435 323.96166738 325.79000092 327.05333455 327.47333527
 327.81333669 328.77416992 330.27416992 330.97166951 331.34250132
 332.75000254 333.91166687 334.36750031 334.21416728 334.52833303
 334.63999939 335.07499949 335.85083262 336.53333282 308.87916565
 281.02166494 252.90999858 223.90166473 195.37416585 167.20333354
 139.40666707 111.09750112  83.1791687   55.79583486  27.91500092]
75
75

## Pandas

In [25]:
hist['Media 5'] = hist['Close'].rolling(5).mean()
hist.head(20)

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Media 5
Date,,,,,,,,
2023-03-28 00:00:00-04:00,275.188445,275.537688,271.456582,274.629669,21878600,0.0,0.0,NaN
2023-03-29 00:00:00-04:00,278.351495,280.526763,277.802707,279.898132,25087000,0.0,0.0,NaN
2023-03-30 00:00:00-04:00,283.610020,283.839499,280.866018,283.430389,25053400,0.0,0.0,NaN
2023-03-31 00:00:00-04:00,283.111104,288.638997,282.382685,287.671112,32766000,0.0,0.0,NaN
2023-04-03 00:00:00-04:00,285.895012,287.641195,283.330641,286.603485,24883300,0.0,0.0,282.446558
2023-04-04 00:00:00-04:00,286.603468,289.816445,285.046873,286.553558,25824300,0.0,0.0,284.831335
2023-04-05 00:00:00-04:00,285.226473,286.523625,282.302872,283.719757,22064800,0.0,0.0,285.595660
2023-04-06 00:00:00-04:00,282.592215,291.442862,281.414796,290.963928,29770300,0.0,0.0,287.102368
2023-04-10 00:00:00-04:00,288.579128,288.968292,284.088944,288.758759,23103000,0.0,0.0,287.319897
2023-04-11 00:00:00-04:00,285.126687,285.356196,281.025667,282.213043,27276600,0.0,0.0,286.441809
2023-04-12 00:00:00-04:00,284.168795,286.383954,281.344951,282.871613,27403400,0.0,0.0,285.705420
2023-04-13 00:00:00-04:00,282.971397,289.267630,282.552330,289.207764,24222700,0.0,0.0,286.803021
2023-04-14 00:00:00-04:00,286.373979,287.850761,283.071201,285.515869,20987900,0.0,0.0,285.713409
2023-04-17 00:00:00-04:00,289.297584,290.963955,285.535818,288.170044,23836200,0.0,0.0,285.595667
2023-04-18 00:00:00-04:00,290.933999,291.123587,286.383948,287.740967,20161800,0.0,0.0,286.701251
2023-04-19 00:00:00-04:00,285.366175,288.419498,283.919356,287.820831,17150300,0.0,0.0,287.691095
2023-04-20 00:00:00-04:00,284.627791,288.399545,284.458149,285.485901,23244400,0.0,0.0,286.946722
2023-04-21 00:00:00-04:00,284.388324,285.645555,282.442565,285.136688,21676400,0.0,0.0,286.870886
2023-04-24 00:00:00-04:00,281.474674,284.328452,278.112030,281.155365,26611000,0.0,0.0,285.467950
2023-04-25 00:00:00-04:00,278.900319,280.985757,274.769335,274.819244,45772200,0.0,0.0,282.883606