In [1]:
import numpy as np

In [2]:
# pip install yfinance

In [3]:
import yfinance as yf

In [4]:
msft = yf.Ticker("MSFT")

In [5]:
hist = msft.history(period="3mo")
hist.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-04-04 00:00:00-04:00,286.603468,289.816445,285.046873,286.553558,25824300,0.0,0.0
2023-04-05 00:00:00-04:00,285.226473,286.523625,282.302872,283.719757,22064800,0.0,0.0
2023-04-06 00:00:00-04:00,282.592215,291.442862,281.414796,290.963928,29770300,0.0,0.0
2023-04-10 00:00:00-04:00,288.579128,288.968292,284.088944,288.758759,23103000,0.0,0.0
2023-04-11 00:00:00-04:00,285.126687,285.356196,281.025667,282.213043,27276600,0.0,0.0

In [6]:
close = hist['Close'].to_numpy()
type(close)

numpy.ndarray

In [7]:
def media_movel_convolve(valor, media):
    return np.convolve(valor, np.ones(media))/media

media_9 = media_movel_convolve(close,9)

print(media_9)
print(len(media_9))
print(len(close))

[ 31.83928426  63.36370171  95.69302707 127.77733358 159.13433838
 190.56451755 222.69871351 254.42269897 286.44159275 286.57352702
 287.02920193 286.42053223 286.01807997 285.90056017 285.00585259
 285.61895752 287.6910909  289.73772854 291.64356486 293.52389526
 295.5516866  297.73025513 300.93214586 304.61631266 305.90571764
 306.73501587 307.05098809 307.42905002 307.87806871 308.69184367
 309.72030979 310.67004395 311.82151625 313.47147624 313.87494914
 314.3656684  316.32388645 319.00222439 321.2411126  322.84000312
 324.40222507 326.29778035 327.93778144 329.98444621 331.04333496
 330.97000122 330.29222276 330.3633355  331.01889038 331.54778035
 332.95889282 333.66889106 334.15444607 335.28555637 336.89110989
 337.80555216 337.44444105 337.47555203 337.30999756 335.85999552
 335.66110908 335.65444268 298.59222073 260.84666612 223.6222229
 187.11111111 149.93666585 112.61999851  75.39222209  37.55444336]
70
62