In [1]:
import numpy as np

In [2]:
# pip install yfinance

In [3]:
import yfinance as yf

In [4]:
msft = yf.Ticker("MSFT")

In [5]:
hist = msft.history(period="3mo")
hist.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-04-04 00:00:00-04:00,286.603468,289.816445,285.046873,286.553558,25824300,0.0,0.0
2023-04-05 00:00:00-04:00,285.226473,286.523625,282.302872,283.719757,22064800,0.0,0.0
2023-04-06 00:00:00-04:00,282.592215,291.442862,281.414796,290.963928,29770300,0.0,0.0
2023-04-10 00:00:00-04:00,288.579128,288.968292,284.088944,288.758759,23103000,0.0,0.0
2023-04-11 00:00:00-04:00,285.126687,285.356196,281.025667,282.213043,27276600,0.0,0.0

In [6]:
close = hist['Close'].to_numpy()
type(close)

numpy.ndarray

##  Convolve

In [7]:
def media_movel_convolve(valor, media):
    return np.convolve(valor, np.ones(media))/media

media_9 = media_movel_convolve(close,9)

print(media_9)
print(len(media_9))
print(len(close))

[ 31.83928426  63.36370171  95.69302707 127.77733358 159.13433838
 190.56451755 222.69871351 254.42269897 286.44159275 286.57352702
 287.02920193 286.42053223 286.01807997 285.90056017 285.00585259
 285.61895752 287.6910909  289.73772854 291.64356486 293.52389526
 295.5516866  297.73025513 300.93214586 304.61631266 305.90571764
 306.73501587 307.05098809 307.42905002 307.87806871 308.69184367
 309.72030979 310.67004395 311.82151625 313.47147624 313.87494914
 314.3656684  316.32388645 319.00222439 321.2411126  322.84000312
 324.40222507 326.29778035 327.93778144 329.98444621 331.04333496
 330.97000122 330.29222276 330.3633355  331.01889038 331.54778035
 332.95889282 333.66889106 334.15444607 335.28555637 336.89110989
 337.80555216 337.44444105 337.47555203 337.30999756 335.85999552
 335.66110908 335.65444268 298.59222073 260.84666612 223.6222229
 187.11111111 149.93666585 112.61999851  75.39222209  37.55444336]
70
62

## Cumsum

In [8]:
# Calcula a soma acumulativa do array mantendo o array do mesmo tamanho.
def media_movel_cumsum(valor, media):
    resultado = np.cumsum(valor, dtype=float)
    resultado[media:] = resultado[media:] - resultado[:-media]
    return resultado[media-1]/media

media_12 = media_movel_convolve(close,12)

print(media_12)
print(len(media_12))
print(len(media_12))

[ 23.8794632   47.52277629  71.7697703   95.83300018 119.35075378
 142.92338816 167.02403514 190.81702423 214.83119456 238.80960846
 262.79467773 286.58516947 286.46709696 286.25339762 284.9080073
 285.40525309 287.23458862 289.2111028  290.51824697 292.12057495
 293.41773987 294.83464305 296.68060557 298.55484263 300.32098134
 302.8604304  305.74495443 306.87581635 307.26080831 307.63332621
 308.39220174 309.54021708 310.75721486 312.12689718 312.56753286
 313.05697123 314.68944295 316.4612147  318.2759196  319.95041656
 321.93333435 323.96166738 325.79000092 327.05333455 327.47333527
 327.81333669 328.77416992 330.27416992 330.97166951 331.34250132
 332.75000254 333.91166687 334.36750031 334.21416728 334.52833303
 334.63999939 335.07499949 335.85083262 336.60583242 336.87249756
 337.39333089 337.44749705 308.43916321 279.91166433 251.74083201
 223.94416555 195.63499959 167.71666718 140.33333333 112.45249939
  84.46499888  56.54416656  28.16583252]
73
73

## Pandas

In [10]:
hist['Media 5'] = hist['Close'].rolling(9).mean()
hist.head(20)

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Media 5
Date,,,,,,,,
2023-04-04 00:00:00-04:00,286.603468,289.816445,285.046873,286.553558,25824300,0.0,0.0,NaN
2023-04-05 00:00:00-04:00,285.226473,286.523625,282.302872,283.719757,22064800,0.0,0.0,NaN
2023-04-06 00:00:00-04:00,282.592215,291.442862,281.414796,290.963928,29770300,0.0,0.0,NaN
2023-04-10 00:00:00-04:00,288.579128,288.968292,284.088944,288.758759,23103000,0.0,0.0,NaN
2023-04-11 00:00:00-04:00,285.126687,285.356196,281.025667,282.213043,27276600,0.0,0.0,NaN
2023-04-12 00:00:00-04:00,284.168795,286.383954,281.344951,282.871613,27403400,0.0,0.0,NaN
2023-04-13 00:00:00-04:00,282.971397,289.267630,282.552330,289.207764,24222700,0.0,0.0,NaN
2023-04-14 00:00:00-04:00,286.373979,287.850761,283.071201,285.515869,20987900,0.0,0.0,NaN
2023-04-17 00:00:00-04:00,289.297584,290.963955,285.535818,288.170044,23836200,0.0,0.0,286.441593
2023-04-18 00:00:00-04:00,290.933999,291.123587,286.383948,287.740967,20161800,0.0,0.0,286.573527
2023-04-19 00:00:00-04:00,285.366175,288.419498,283.919356,287.820831,17150300,0.0,0.0,287.029202
2023-04-20 00:00:00-04:00,284.627791,288.399545,284.458149,285.485901,23244400,0.0,0.0,286.420532
2023-04-21 00:00:00-04:00,284.388324,285.645555,282.442565,285.136688,21676400,0.0,0.0,286.018080
2023-04-24 00:00:00-04:00,281.474674,284.328452,278.112030,281.155365,26611000,0.0,0.0,285.900560
2023-04-25 00:00:00-04:00,278.900319,280.985757,274.769335,274.819244,45772200,0.0,0.0,285.005853
2023-04-26 00:00:00-04:00,296.052824,298.916559,292.091482,294.725708,64599200,0.0,0.0,285.618958
2023-04-27 00:00:00-04:00,295.324410,304.534288,294.605980,304.165070,46462600,0.0,0.0,287.691091
2023-04-28 00:00:00-04:00,303.346872,308.256123,302.648387,306.589783,36446700,0.0,0.0,289.737729
2023-05-01 00:00:00-04:00,306.300422,307.926871,304.484384,304.893494,21294100,0.0,0.0,291.643565
2023-05-02 00:00:00-04:00,307.088685,308.505570,303.247077,304.743805,26404400,0.0,0.0,293.523895